.cust-grid {
    width:100%!important;
}
.jsgrid-table {
    font-size: 13px !important;
}

.integrated-input {
    background: #c6ffb3;
    border: 1px solid #0d3300;
}

body {
    padding-bottom: 20px;
    overflow: auto !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input[type="text"],
select {
    width: 100%;
}

textarea {
    width: 100%;
}
/*******************************************FORMULARZE********************************/
input[type="submit"] {
    width: 200px;
}

.buttons-panel {
    text-align: right;
}

    .buttons-panel > input {
        width: 80px;
    }

.add-new-buttons-panel {
    text-align: left;
    padding-bottom: 20px;
}

.search-buttons-panel {
    text-align: right;
}

.selected-row {
    font-weight: bold !important;
}

.selected-treeview-item {
    font-weight: bold !important;
}

.custom-date {
}
/**********************************************Autocomplete **********************/
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

    .ui-autocomplete .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
    }

        .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
            color: #ffffff;
            text-decoration: none;
            background-color: #0088cc;
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            background-image: none;
        }

/*************************************Threee view*****************************/
.control-label-left {
    text-align: left !important;
    padding-left: 0px !important;
}

.form-horizontal-left {
    text-align: left !important;
}
/*************************************CUSOM FORM STYLE*****************************/
/*.custom-panel-heading {
    padding: 5px 15px 0px 0px;
}

.custom-panel-title {
    font-size: 14px;
}

.custom-panel {
   
}*/
/* CSS used here will be applied after bootstrap.css */


.form-horizontal .control-label {
    text-align: left !important;
}
/*****************/
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position: absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }

    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.filter-selector {
    float: right;
    margin-right: 25px;
    text-align: left;
}

.filter-selector-label {
    margin-right: 15px;
}

/***************************************Style naprawiajace bootstrapaa********************************/
.btn {
    font-size: 14px !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}

/*.btn-success {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
    margin-left: 0px !important;
    padding: 0px 6px 0px 6px !important;
}*/

.btn-info {
    color: #fff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eee !important;
    opacity: 1 !important;
}

.select[disabled] {
    color: #b1b1b1 !important;
}

.jsgrid .btn.btn-info {
    border-color: #E7E7E7 !important;
    background-color: #73879C !important;
    padding:2px!important;
    font-size:13px;
}

/*****************************************************************************************************/
.cust-grid-details-button {
    padding-left:0px!important;
    padding-right:0px!important;
}

.cust-grid-download-button {
    padding-left:0px!important;
    padding-right:0px!important;
}

.jsgrid th.jsgrid-control-field {
    padding:0px!important;
}