﻿@model Kancelaria365.Web.CzynnoscViewModel
@using Kancelaria365.Data
@using Kancelaria365.Common
@using Kancelaria365.Web


@Html.HiddenFor(model => model.Czynnosc.Id)
@Html.HiddenFor(model => model.FormMode)

@{
    string dateFormatString = GlobalNames.FormatStrings.DateFormatString;

    @Html.Partial("SaveStatus");

    <div id="main" class="x_panel">
        <div>
            <div class="form-group">
                <div class="col-sm-10">
                    <h2><i class="fa fa-cog"></i> @ViewBag.Title</h2>
                </div>
                <div class="col-sm-2">
                    <div class="buttons-panel-container" style="float:right">
                        <div class="buttons-panel">
                            @if (Model.FormMode == FormMode.Dispaly || Model.FormMode == FormMode.Edit)
                            {
                                @Html.ActionLink("Pobierz raport", "GetFile", "Kontakt",
              new { id = Model.Czynnosc.Id },
                 new { @class = "btn btn-info" })
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="x_content">
            <div class="container">

                <ul class="nav nav-tabs bar_tabs" id="sprawa_tabs">
                    <li class="active"><a data-target="#dane_tab" data-toggle="tab">Dane</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="dane_tab">
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new Dictionary<string, object> { { "class", "text-danger" } })

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Dane</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Czynnosc.Title,
                                                                    htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.Czynnosc.Title,
                                        htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Czynnosc.Title, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Czynnosc.Firma,
                                                                    htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.CustomDropDownListFor(model => model.Czynnosc.Firma.Id,
                                        new SelectList(Model.Kontakty, "Id", "Value", Model.Czynnosc.Firma.Id),
                                        htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Czynnosc.Firma, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Czynnosc.Sprawa,
                                                                    htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.CustomDropDownListFor(model => model.Czynnosc.Sprawa.Id,
                                        new SelectList(Model.Sprawy, "Id", "Value", Model.Czynnosc.Sprawa.Id),
                                        htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Czynnosc.Sprawa, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Czynnosc.Wprowadzajacy,
                                                                  htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.HiddenFor(model => model.Czynnosc.Wprowadzajacy.Id)
                                            @Html.TextBoxFor(model => model.Czynnosc.Wprowadzajacy.Value,
                                        htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, FormMode.Dispaly))

                                            @Html.ValidationMessageFor(model => model.Czynnosc.Wprowadzajacy, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Czynnosc.DataWprowadzenia,
                                                                htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Czynnosc.DataWprowadzenia, dateFormatString,
                                        htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, FormMode.Dispaly))

                                            @Html.ValidationMessageFor(model => model.Czynnosc.DataWprowadzenia, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Czynnosc.Wykonawca,
                                                                  htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.HiddenFor(model => model.Czynnosc.Wykonawca.Id)
                                            @Html.TextBoxFor(model => model.Czynnosc.Wykonawca.Value,
                                        htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Czynnosc.Wprowadzajacy, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Czynnosc.DataWykonania,
                                                                htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Czynnosc.DataWykonania, dateFormatString,
                                   htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Czynnosc.DataWykonania, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Czynnosc.CzasWGodzinach,
                                                                htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Czynnosc.CzasWGodzinach, dateFormatString,
                                        htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Czynnosc.CzasWGodzinach, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div><div class="col-sm-2">
                                            @Html.LabelFor(model => model.Czynnosc.CzasZarejestrowany,
                                                                htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Czynnosc.CzasZarejestrowany,
                                        htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Czynnosc.CzasZarejestrowany, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Czynnosc.ObciazycKlienta, htmlAttributes: new { @class = "control-label col-sm-5" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.CustomCheckBox(
                                                            model => model.Czynnosc.ObciazycKlienta,
                                                            new { @class = "form-control input-sm" },
                                                            Model.FormMode)
                                        </div>
                                        <div class="col-sm-6">
                                        </div>

                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Opis wykonania</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.TextAreaFor(model => model.Czynnosc.OpisWykonania,
                                       htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                        @Html.ValidationMessageFor(model => model.Czynnosc.OpisWykonania, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Uwagi</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.TextAreaFor(model => model.Czynnosc.Uwagi,
                                       htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                        @Html.ValidationMessageFor(model => model.Czynnosc.Uwagi, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Finansowe</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="buttons-panel-container">
                <div class="buttons-panel">
                    @Html.ActionLink("Wróć do sprawy", "Details", "Sprawa", new { id = Model.Czynnosc.Sprawa.Id, SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request) },
                new { @class = "btn btn-info" })

                    @if (Model.FormMode == FormMode.Edit ||
                Model.FormMode == FormMode.New)
                    {
                        if (Model.FormMode == FormMode.Edit)
                        {
                            <input type="button"
                                   value="Usuń"
                                   onclick="GuiHelper.deleteItem('@Url.Action("Delete",new { id = Model.Czynnosc.Id, SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request)})')"
                                   class="btn btn-danger" />
                        }
                        <input type="submit" value="Zapisz" class="btn btn-success" />
                    }
                    else if (Model.FormMode == FormMode.Dispaly)
                    {
                        @Html.ActionLink("Edytuj", "Edit", "Czynnosc",
                                     new { id = Model.Czynnosc.Id, SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request) },
                                     new { @class = "btn btn-info" })
                    }
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    UserHelper.createUserPicker(
        "@Html.IdFor(model => model.Czynnosc.Wykonawca.AdditionalValue)",
        "@Html.IdFor(model => model.Czynnosc.Wykonawca.Value)",
        "@Html.IdFor(model => model.Czynnosc.Wykonawca.Id)");

    CascadeKontaktSprawaDropDowns.init(
        "@Html.IdFor(model => model.Czynnosc.Firma.Id)",
        "@Html.IdFor(model => model.Czynnosc.Sprawa.Id)",
        "@Url.Action("GetKontakt", "Czynnosc")",
        "@Url.Action("GetSprawy", "Czynnosc")");

    DateTimeHelper.createDatePicker("@Html.IdFor(model => model.Czynnosc.DataWykonania)");
</script>