﻿@model Kancelaria365.Web.CzynnoscListViewModel
@{
    ViewBag.Title = "Lista czynności";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
    <div>
        <h2><i class="fa fa-cog"></i> @ViewBag.Title</h2>
    </div>
    <div class="x_content">
        <div>
            @Html.Partial("CzynnosciGridFilterView", Model)
            <br />
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("CzynnosciGridView", Model)
                </div>
            </div>
        </div>
    </div>
</div>

