﻿@using Kancelaria365.Data
@using Kancelaria365.Web
@using Kancelaria365.Common;

@model Kancelaria365.Web.KalendarzViewModel
@{
    ViewBag.Title = "Kalendarze";
}

<div class="x_panel">
    <div>
        <h2><i class="fa fa-calendar"></i> @ViewBag.Title</h2>
    </div>
    <div class="x_content">
        @Html.DropDownListFor(model => model.SelectedKalendarz,
                            new SelectList(Model.KalendarzeList, "Id", "Name", Model.SelectedKalendarz), new { @class = "form-control" })
        <div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var getCalendarEvents;
        var getDiaryEvents;
        var lastView = null;
        var first = true;
        $(document).ready(function () {

            getCalendarEvents = getDateSource('getCalendarEvents', '/Kalendarz/GetCalendarEvents/');
            getDiaryEvents = getDateSource('getDiaryEvents', '/Kalendarz/GetDiaryEvents/');

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'month',
                locale: 'pl',
                editable: true,
                allDaySlot: false,
                selectable: true,
                slotMinutes: 15,
                events: getCalendarEvents,
                eventClick: function (calEvent, jsEvent, view) {
                    try {
                        //  window.location.href = calEvent.webLink;
                        BootstrapDialog.show({
                            title: "Spotkanie",
                            message: $('<div class="container">' +
                                           '<div class="form-group">' +
                                                '<div class="col-sm-4">Tytuł</div>' +
                                                '<div class="col-sm-7">' + calEvent.title + '</div>' +
                                                '<div class="col-sm-1"></div>' +
                                            '</div>' +
                                            '<div class="form-group">' +
                                                '<div class="col-sm-4">Lokalizacja</div>' +
                                                '<div class="col-sm-7">' + calEvent.location.DisplayName + '</div>' +
                                                '<div class="col-sm-1"></div>' +
                                            '</div>' +
                                            '<div class="form-group">' +
                                                '<div class="col-sm-4">Data rozpoczęcia</div>' +
                                                '<div class="col-sm-7">' + calEvent.start._i + '</div>' +
                                                '<div class="col-sm-1"></div>' +
                                            '</div>' +
                                            '<div class="form-group">' +
                                                '<div class="col-sm-4">Data zakończenia</div>' +
                                                '<div class="col-sm-7">' + calEvent.end._i + '</div>' +
                                                '<div class="col-sm-1"></div>' +
                                            '</div>' +
                                       '</div>')
                        });
                    }
                    catch (e) {
                        Logger.logError(e);
                    }
                },
                eventAfterRender: function (event, element, view) {

                },
                eventResize: function (event, dayDelta, minuteDelta, revertFunc) {
                    try {
                        window.location.href = calEvent.webLink;
                    }
                    catch (e) {
                        Logger.logError(e);
                    }
                },
                dayClick: function (date, allDay, jsEvent, view) {
                    try {


                    }
                    catch (e) {
                        Logger.logError(e);
                    }
                },
                viewRender: function (view, element) {
                    GuiHelper.ajaxIndicatorStart("", "calendar");

                    if (lastView != null) {
                        if (view.name !== lastView) {
                            if (view.name == 'agendaWeek') {
                                $('#calendar').fullCalendar('removeEventSources');
                                $('#calendar').fullCalendar('addEventSource', getCalendarEvents);
                                $('#calendar').fullCalendar('renderEvents');
                            }
                            if (view.name == 'agendaDay') {
                                $('#calendar').fullCalendar('removeEventSources');
                                $('#calendar').fullCalendar('addEventSource', getCalendarEvents);
                                $('#calendar').fullCalendar('renderEvents');
                            }
                            if (view.name == 'month') {
                                $('#calendar').fullCalendar('removeEventSources');
                                $('#calendar').fullCalendar('addEventSource', getCalendarEvents);
                                $('#calendar').fullCalendar('renderEvents');
                            }
                            lastView = view.name;
                        }
                    } else {
                        lastView = 'month';
                    }
                }
            });
        });

        function getDateSource(id, url) {

            var item = {
                id: id,
                url: url,
                data: {
                    id: $("#SelectedKalendarz").val()
                },
                success: function () {
                    GuiHelper.ajaxIndicatorStop("calendar");
                }
            };

            return item;
        }

        $(function () {
            var selectedCalendar = $("#@Html.IdFor(model => model.SelectedKalendarz)");
            selectedCalendar.change(function () {
                GuiHelper.ajaxIndicatorStart("", "calendar");

                getCalendarEvents = new getDateSource('getCalendarEvents', '/Kalendarz/GetCalendarEvents/');
                getDiaryEvents = new getDateSource('getDiaryEvents', '/Kalendarz/GetDiaryEvents/');

                $('#calendar').fullCalendar('removeEventSources');
                $('#calendar').fullCalendar('addEventSource', getCalendarEvents);
                $('#calendar').fullCalendar('renderEvents');
            });
        });
    </script>
}