﻿@model IEnumerable<Kancelaria365.Data.SlownikItem>

@{
    ViewBag.Title = "Lista słowników";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
    <div>
        <h2><i class="fa fa-book"></i> @ViewBag.Title</h2>
    </div>
    <div class="x_content">
        <div>
            <ul>
                @foreach (SlownikItem item in Model)
                {
                    @:
                    <li><a href="@item.Url" target="_blank">@item.Nazwa</a></li>
                }
            </ul>
        </div>
    </div>
</div>

