﻿@model Kancelaria365.Web.SprawaViewModel
@using Kancelaria365.Data
@using Kancelaria365.Common
@using Kancelaria365.Web


@Html.HiddenFor(model => model.Sprawa.Id)
@Html.HiddenFor(model => model.FormMode)

@{
    string dateFormatString = GlobalNames.FormatStrings.DateFormatString;

    @Html.Partial("SaveStatus");

    <div id="main" class="x_panel">
        <div>
            <div class="form-group">
                <div class="col-sm-10">
                    <h2><i class="fa fa-cogs"></i> @ViewBag.Title</h2>
                </div>
                <div class="col-sm-2">
                    <div class="buttons-panel-container" style="float:right">
                        <div class="buttons-panel">
                            @if (Model.FormMode == FormMode.Dispaly || Model.FormMode == FormMode.Edit)
                            {
                                @Html.ActionLink("Pobierz raport", "GetFile", "Sprawa",
              new { id = Model.Sprawa.Id },
                 new { @class = "btn btn-info" })
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="x_content">

            <div class="container">
                <ul class="nav nav-tabs" id="sprawa_tabs">
                    <li class="active"><a data-target="#dane_tab" data-toggle="tab">Dane</a></li>
                    @if (Model.FormMode == FormMode.Edit || Model.FormMode == FormMode.Dispaly)
                    {
                        <li><a data-target="#finansowe_tab" data-toggle="tab">Finansowe</a></li>
                        @*<li><a data-target="#uczestnicy_tab" data-toggle="tab">Uczestnicy</a></li>*@
                        <li><a data-target="#czynnosci_tab" data-toggle="tab">Czynności</a></li>
                        <li><a data-target="#koszty_tab" data-toggle="tab">Koszty</a></li>
                        @*<li><a data-target="#dok_finansowe_tab" data-toggle="tab">Dok. finansowe</a></li>*@
                        @*<li><a data-target="#dane_kontakt_tab" data-toggle="tab">Dane kontaktowe</a></li>*@
                    }
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="dane_tab">
                        <div class="form-horizontal">
                            <hr />
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Nazwa</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Sprawa.Kontakt,
                                                                    htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.CustomDropDownListFor(model => model.Sprawa.Kontakt.Id,
                                    new SelectList(Model.Kontakty, "Id", "Value", Model.Sprawa.Kontakt.Id),
                                    htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Sprawa.Kontakt, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Sprawa.Title,
                                                 htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.Sprawa.Title,
                                    htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Sprawa.Title, "", new Dictionary<string, object> { { "class", "text-danger" } })

                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Sprawa.Kategoria,
                                                                    htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.CustomDropDownListFor(model => model.Sprawa.Kategoria.Id,
                                    new SelectList(Model.KategorieSpraw, "Id", "Value", Model.Sprawa.Kategoria.Id),
                                    htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Sprawa.Kategoria, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Sprawa.Etap,
                                                                    htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.CustomDropDownListFor(model => model.Sprawa.Etap,
                                    new SelectList(Model.Etapy, Model.Sprawa.Etap),
                                    htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Sprawa.Etap, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Identyfikacja</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Sprawa.Zlecajacy,
                                                                  htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.HiddenFor(model => model.Sprawa.Zlecajacy.Id)
                                            @Html.TextBoxFor(model => model.Sprawa.Zlecajacy.Value,
                                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Sprawa.Zlecajacy, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Sprawa.DataPrzyjecia,
                                                                htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.CustomDatePickerFor(
                                                model => model.Sprawa.DataPrzyjecia,
                                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode),
                                                dateFormatString: dateFormatString)
                                            @Html.ValidationMessageFor(model => model.Sprawa.DataPrzyjecia, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Sprawa.Wprowadzajacy,
                                                                  htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.HiddenFor(model => model.Sprawa.Wprowadzajacy.Id)
                                            @Html.HiddenFor(model => model.Sprawa.Wprowadzajacy.AdditionalValue)
                                            @Html.TextBoxFor(model => model.Sprawa.Wprowadzajacy.Value,
                                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, FormMode.Dispaly))

                                            @Html.ValidationMessageFor(model => model.Sprawa.Wprowadzajacy, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Sprawa.DataWprowadzenia,
                                                                htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.CustomDatePickerFor(
                                                model => model.Sprawa.DataWprowadzenia,
                                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, FormMode.Dispaly),
                                                dateFormatString: dateFormatString)

                                            @Html.ValidationMessageFor(model => model.Sprawa.DataWprowadzenia, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Sprawa.Prowadzacy,
                                                                  htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.HiddenFor(model => model.Sprawa.Prowadzacy.Id)
                                            @Html.TextBoxFor(model => model.Sprawa.Prowadzacy.Value,
                                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Sprawa.Prowadzacy, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Sprawa.DataZakończenia,
                                                                htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.CustomDatePickerFor(
                                                model => model.Sprawa.DataZakończenia,
                                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode),
                                                dateFormatString: dateFormatString)

                                            @Html.ValidationMessageFor(model => model.Sprawa.DataZakończenia, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Sprawa.NrWewnetrzny,
                                                 htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">

                                            @Html.TextBoxFor(model => model.Sprawa.NrWewnetrzny,
                                    htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Sprawa.NrWewnetrzny, "", new Dictionary<string, object> { { "class", "text-danger" } })

                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Sprawa.NrPorzadkowy,
                                                 htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">

                                            @Html.TextBoxFor(model => model.Sprawa.NrPorzadkowy,
                                    htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Sprawa.NrPorzadkowy, "", new Dictionary<string, object> { { "class", "text-danger" } })

                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Sprawa.WartUniwer,
                                                 htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.Sprawa.WartUniwer,
                                    htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Sprawa.WartUniwer, "", new Dictionary<string, object> { { "class", "text-danger" } })

                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Uwagi</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            @Html.TextAreaFor(model => model.Sprawa.Uwagi,
                                       htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Sprawa.Uwagi, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.FormMode == FormMode.Edit || Model.FormMode == FormMode.Dispaly)
                    {
                        <div class="tab-pane" id="finansowe_tab">
                            <div class="form-horizontal">
                                <hr />
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Forma rozliczenia</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.RequiredLabelFor(model => model.Sprawa.FormaRozliczenia,
                                                                    htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.CustomDropDownListFor(model => model.Sprawa.FormaRozliczenia.Id,
                                    new SelectList(Model.FormyRozliczenia, "Id", "Value", Model.Sprawa.FormaRozliczenia.Id),
                                    htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Sprawa.FormaRozliczenia, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1"></div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.RequiredLabelFor(model => model.Sprawa.OpisNaKature,
                                                 htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-9">

                                                @Html.TextBoxFor(model => model.Sprawa.OpisNaKature,
                                    htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Sprawa.OpisNaKature, "", new Dictionary<string, object> { { "class", "text-danger" } })

                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Notatki</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                @Html.TextAreaFor(model => model.Sprawa.Notatki,
                                       htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Sprawa.Notatki, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="uczestnicy_tab">
                            <div class="form-horizontal">
                                <hr />
                            </div>
                        </div>
                        <div class="tab-pane" id="czynnosci_tab">
                            <div class="form-horizontal">
                                <hr />
                                @*<div class="form-group">
                                    @Html.ActionLink("Dodaj czynność", "Create", "Czynnosc", new { sprawaId = Model.Sprawa.Id, kontaktId = Model.Sprawa.Kontakt.Id }, new { @class = "btn btn-info" })
                                </div>*@
                                @Html.Partial("CustomGrid", Model.CzynnosciGridViewModel)
                            </div>
                        </div>
                        <div class="tab-pane" id="koszty_tab">
                            <div class="form-horizontal">
                                <hr />
                                @Html.Partial("CustomGrid", Model.KosztyGridViewModel)
                            </div>
                        </div>
                        <div class="tab-pane" id="dok_finansowe_tab">
                            <div class="form-horizontal">
                                <hr />
                            </div>
                        </div>
                        @*<div class="tab-pane" id="dane_kontakt_tab">
                            <div class="form-horizontal">
                                <hr />
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Firma</h3>
                                    </div>
                                    <div class="panel-body">
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Dane teleadresowe</h3>
                                    </div>
                                    <div class="panel-body">

                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Osoby kontaktowe</h3>
                                    </div>
                                    <div class="panel-body">
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    }
                </div>
                <div class="buttons-panel-container">
                    <div class="buttons-panel">
                        @Html.ActionLink("Wróć do listy spraw", "Index", "Sprawa", new { SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request) },
                new { @class = "btn btn-info" })

                        @if (Model.FormMode == FormMode.Edit ||
Model.FormMode == FormMode.New)
                        {
                            if (Model.FormMode == FormMode.Edit)
                            {
                                <input type="button"
                                       value="Usuń"
                                       onclick="GuiHelper.deleteItem('@Url.Action("Delete",new { id = Model.Sprawa.Id, SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request)})')"
                                       class="btn btn-danger" />
                            }
                            <input type="submit" value="Zapisz" class="btn btn-success" />
                        }
                        else if (Model.FormMode == FormMode.Dispaly)
                        {
                            @Html.ActionLink("Edytuj", "Edit", "Sprawa",
                                     new { id = Model.Sprawa.Id, SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request) },
                                     new { @class = "btn btn-info" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        UserHelper.createUserPicker(
            "@Html.IdFor(model => model.Sprawa.Prowadzacy.AdditionalValue)",
            "@Html.IdFor(model => model.Sprawa.Prowadzacy.Value)",
            "@Html.IdFor(model => model.Sprawa.Prowadzacy.Id)");

        UserHelper.createUserPicker(
            "@Html.IdFor(model => model.Sprawa.Zlecajacy.AdditionalValue)",
            "@Html.IdFor(model => model.Sprawa.Zlecajacy.Value)",
            "@Html.IdFor(model => model.Sprawa.Zlecajacy.Id)");
  
        UserHelper.createUserPicker(
            "@Html.IdFor(model => model.Sprawa.Wprowadzajacy.AdditionalValue)",
            "@Html.IdFor(model => model.Sprawa.Wprowadzajacy.Value)",
            "@Html.IdFor(model => model.Sprawa.Wprowadzajacy.Id)");
    </script>
}