﻿@model Kancelaria365.Web.SprawaViewModel
@using Kancelaria365.Data
@using Kancelaria365.Common
@using Kancelaria365.Web
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    string postAction = string.Empty;
}

@if (Model.FormMode == FormMode.New)
{
    ViewBag.Title = "Nowa sprawa";
    postAction = "Create";
}
else if (Model.FormMode == FormMode.Edit)
{
    ViewBag.Title = "Edycja sprawy";
    postAction = "Edit";
}
else if (Model.FormMode == FormMode.Dispaly)
{
    ViewBag.Title = "Sprawa";
    postAction = "Details";
}
else
{
    <h4>Nieonsługiwany tryb pracy</h4>
    ViewBag.Title = "Nieonsługiwany tryb pracy";
}

@using (Ajax.BeginForm(postAction, "Sprawa", new { SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request) }, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "fullForm",
    OnBegin = "OnBegin",
    OnFailure = "OnFailure",
    OnComplete = "OnComplete",
    OnSuccess = "OnSuccess",
}))
{
    <div id="fullForm">
        @Html.Partial("EditPartial", Model);
    </div>
}
