﻿@model Kancelaria365.Web.SprawaListViewModel
@{
    ViewBag.Title = "Lista spraw";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
    <div>
        <h2><i class="fa fa-cogs"></i> @ViewBag.Title</h2>
    </div>
    <div class="x_content">
        <div>
            @Html.Partial("SprawyGridFilterView", Model)
            <br />
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("SprawyGridView", Model)
                </div>
            </div>
        </div>
    </div>
</div>


@*<div>
    <ul class="nav nav-tabs" id="sprawa_tabs">
        <li class="active"><a data-target="#dane_tab" tab="simple" data-toggle="tab">Wyszukiwanie podstawowe</a></li>
        <li><a data-target="#dodatkowe_tab" tab="complex" data-toggle="tab">Wyszukiwanie zaawansowane</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="dane_tab">
            <br />
            @Html.Partial("SprawyGridFilterView", Model)
        </div>
        <div class="tab-pane" id="dodatkowe_tab">
            <br />
            <div class="search-buttons-panel">
                <div class="form-group" id="sprawyAdvancedSearchDiv">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("SprawyGridView", Model)
            </div>
        </div>
    </div>
</div>*@