﻿@model Kancelaria365.Web.KontaktViewModel
@using Kancelaria365.Data
@using Kancelaria365.Web
@using Kancelaria365.Common;

@Html.HiddenFor(model => model.Kontakt.Id)
@Html.HiddenFor(model => model.FormMode)

@{
    string adresKorespondencyjnyDivId = "AdresKorespondencyjnyDiv";
    string dateFormatString = GlobalNames.FormatStrings.DateFormatString;

    @Html.Partial("SaveStatus");

    <div id="main" class="x_panel">
        <div>
            <div class="form-group">
                <div class="col-sm-10">
                    <h2><i class="fa fa-users"></i> @ViewBag.Title</h2>
                </div>
                <div class="col-sm-2">
                    <div class="buttons-panel-container" style="float:right">
                        <div class="buttons-panel">
                            @if (Model.FormMode == FormMode.Dispaly || Model.FormMode == FormMode.Edit)
                            {
                                @Html.ActionLink("Pobierz raport", "GetFile", "Kontakt",
                            new { id = Model.Kontakt.Id },
                            new { @class = "btn btn-info" })
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div><div class="x_content">
            <div class="container">
                <ul class="nav nav-tabs bar_tabs" id="sprawa_tabs">
                    <li class="active"><a id="firstTab" data-target="#dane_tab" data-toggle="tab">Dane</a></li>
                    @if (Model.FormMode == FormMode.Edit || Model.FormMode == FormMode.Dispaly)
                    {
                        <li><a data-target="#dodatkowe_tab" data-toggle="tab">Dane dodatkowe</a></li>
                        <li><a data-target="#finansowe_tab" data-toggle="tab">Finansowe</a></li>
                        <li><a data-target="#stawki_tab" data-toggle="tab">Stawki</a></li>
                        <li><a data-target="#sprawy_tab" data-toggle="tab">Sprawy</a></li>
                        <li><a data-target="#dok_finansowe_tab" data-toggle="tab">Dok. finansowe</a></li>
                    }
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="dane_tab">
                        <div class="form-horizontal">
                            <hr />

                            @* Nazwa *@
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Nazwa</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.OutlookContact,
                                                 htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-7">
                                            @Html.CustomDropDownListFor(model => Model.Kontakt.OutlookContact.Id,
                                                new SelectList(Model.KontaktyOrganizacji, "Id", "DisplayName", Model.Kontakt.OutlookContact.Id),
                                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                        </div>
                                        <div class="col-sm-2" style="text-align:right">
                                            @if(Model.FormMode != FormMode.Dispaly)
                                            {
                                                @:<button id="rewriteDataButton" type="button" class="btn btn-info">Przepisz dane</button>
                                            }                                            
                                        </div>
                                        <div class="col-sm-1">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Kontakt.Title,
                                                 htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">

                                            @Html.TextBoxFor(model => model.Kontakt.Title,
                                   htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.Title, "", new Dictionary<string, object> { { "class", "text-danger" } })

                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Kontakt.NazwaPelna,
                                                                    htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(model => model.Kontakt.NazwaPelna,
                                      htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.NazwaPelna, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*@* Kategoryzacja *@
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Kategoryzacja</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Kontakt.Kategoria,
                                                                    htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.CustomDropDownListFor(model => model.Kontakt.Kategoria.Id,
                                                new SelectList(Model.KategorieKontaktow, "Id", "Value", Model.Kontakt.Kategoria.Id),
                                        htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.Kategoria, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.Wprowadzajacy,
                                                                  htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.HiddenFor(model => model.Kontakt.Wprowadzajacy.Id)
                                            @Html.TextBoxFor(model => model.Kontakt.Wprowadzajacy.Value,
                                                    htmlAttributes: Html.CreateHtmlAttributes(new Dictionary<string, object> { {"class", "form-control"} }, FormMode.Dispaly))

                                            @Html.ValidationMessageFor(model => model.Kontakt.Wprowadzajacy, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.Prowadzacy,
                                                                 htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.HiddenFor(model => model.Kontakt.Prowadzacy.Id)
                                            @Html.HiddenFor(model => model.Kontakt.Prowadzacy.AdditionalValue)
                                            @Html.TextBoxFor(model => model.Kontakt.Prowadzacy.Value,
                                 htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            <div style="float:left">
                                                @Html.ValidationMessageFor(model => model.Kontakt.Prowadzacy, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.DataWprowadzenia,
                                                                htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.CustomDatePickerFor(
                                                model => model.Kontakt.DataWprowadzenia,
                                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode),
                                                dateFormatString: dateFormatString)

                                            @Html.ValidationMessageFor(model => model.Kontakt.DataWprowadzenia, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.Status,
                                                                  htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.Status,
                                                htmlAttributes: Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control" } }, FormMode.Dispaly))
                                            @Html.ValidationMessageFor(model => model.Kontakt.Status, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* Dane adresowe *@
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Dane adresowe</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group col-sm-12">
                                        @* Adres *@
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Adres</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        @Html.Label("Kod/Miasto", htmlAttributes: new { @class = "control-label col-sm-12" })
                                                    </div>
                                                    <div class="col-sm-2">
                                                        @Html.CustomMaskedInput(
                                                            model => model.Kontakt.Kod,
                                                            "99-999",
                                                            htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                        @Html.ValidationMessageFor(model => model.Kontakt.Kod, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                                    </div>
                                                    <div class="col-sm-3">
                                                        @Html.TextBoxFor(model => model.Kontakt.Miasto,
                                             htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                        @Html.ValidationMessageFor(model => model.Kontakt.Miasto, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                                    </div>
                                                    <div class="col-sm-5">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        @Html.LabelFor(model => model.Kontakt.Ulica, htmlAttributes: new { @class = "control-label col-sm-12" })
                                                    </div>
                                                    <div class="col-sm-5">
                                                        @Html.TextBoxFor(model => model.Kontakt.Ulica,
                                              htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                        @Html.ValidationMessageFor(model => model.Kontakt.Ulica, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                                    </div>
                                                    <div class="col-sm-5">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        @Html.LabelFor(model => model.Kontakt.Wojewodztwo, htmlAttributes: new { @class = "control-label col-sm-12" })
                                                    </div>
                                                    <div class="col-sm-5">
                                                        @Html.CustomDropDownListFor(model => model.Kontakt.Wojewodztwo,
                                            new SelectList(Model.Wojewodztwa, Model.Kontakt.Wojewodztwo),
                                         htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                        @Html.ValidationMessageFor(model => model.Kontakt.Wojewodztwo, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                                    </div>
                                                    <div class="col-sm-5">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        @Html.LabelFor(model => model.Kontakt.Kraj, htmlAttributes: new { @class = "control-label col-sm-12" })
                                                    </div>
                                                    <div class="col-sm-5">
                                                        @Html.TextBoxFor(model => model.Kontakt.Kraj,
                                             htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                        @Html.ValidationMessageFor(model => model.Kontakt.Kraj, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                                    </div>
                                                    <div class="col-sm-5">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        @Html.LabelFor(model => model.Kontakt.Terytorium, htmlAttributes: new { @class = "control-label col-sm-12" })
                                                    </div>
                                                    <div class="col-sm-5">
                                                        @Html.TextBoxFor(model => model.Kontakt.Terytorium,
                                       htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                        @Html.ValidationMessageFor(model => model.Kontakt.Terytorium, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                                    </div>
                                                    <div class="col-sm-5">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-3">
                                                        @Html.LabelFor(model => model.Kontakt.InnyAdresKorespondencyjny, htmlAttributes: new { @class = "control-label col-sm-12" })
                                                        </div>
                                                        <div class="col-sm-4">
                                                            @Html.CustomCheckBox(
                                                            model => model.Kontakt.InnyAdresKorespondencyjny,
                                                            new { @class = "form-control input-sm" },
                                                            Model.FormMode)
                                                        </div>
                                                    <div class="col-sm-5">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        @* Adres korespondencyjny *@
                                        <div class="panel panel-default" id="@adresKorespondencyjnyDivId">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Adres korespondencyjny</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        @Html.Label("Kod/Miasto", htmlAttributes: new { @class = "control-label col-sm-12" })
                                                    </div>
                                                    <div class="col-sm-2">
                                                        @Html.CustomMaskedInput(
                                                            model => model.Kontakt.KorespondencjaKod,
                                                            "99-999",
                                                            htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                        @Html.ValidationMessageFor(model => model.Kontakt.KorespondencjaKod, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                                    </div>
                                                    <div class="col-sm-3">
                                                        @Html.TextBoxFor(model => model.Kontakt.KorespondencjMiasto, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                        @Html.ValidationMessageFor(model => model.Kontakt.KorespondencjMiasto, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                                    </div>
                                                    <div class="col-sm-5">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        @Html.LabelFor(model => model.Kontakt.KorespondencjaUlica, htmlAttributes: new { @class = "control-label col-sm-12" })
                                                    </div>
                                                    <div class="col-sm-5">
                                                        @Html.TextBoxFor(model => model.Kontakt.KorespondencjaUlica, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                        @Html.ValidationMessageFor(model => model.Kontakt.KorespondencjaUlica, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                                    </div>
                                                    <div class="col-sm-5">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        @Html.LabelFor(model => model.Kontakt.KorespondencjWojewodztwo, htmlAttributes: new { @class = "control-label col-sm-12" })
                                                    </div>
                                                    <div class="col-sm-5">
                                                        @Html.CustomDropDownListFor(model => model.Kontakt.KorespondencjWojewodztwo,
                                            new SelectList(Model.Wojewodztwa, Model.Kontakt.KorespondencjWojewodztwo),
                                            htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                        @Html.ValidationMessageFor(model => model.Kontakt.KorespondencjWojewodztwo, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                                    </div>
                                                    <div class="col-sm-5">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        @Html.LabelFor(model => model.Kontakt.KorespondencjKraj, htmlAttributes: new { @class = "control-label col-sm-12" })
                                                    </div>
                                                    <div class="col-sm-5">
                                                        @Html.TextBoxFor(model => model.Kontakt.KorespondencjKraj, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                        @Html.ValidationMessageFor(model => model.Kontakt.KorespondencjKraj, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                                    </div>
                                                    <div class="col-sm-5">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-2">
                                                        @Html.LabelFor(model => model.Kontakt.KorespondencjTerytorium, htmlAttributes: new { @class = "control-label col-sm-12" })
                                                    </div>
                                                    <div class="col-sm-5">
                                                        @Html.TextBoxFor(model => model.Kontakt.KorespondencjTerytorium, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                        @Html.ValidationMessageFor(model => model.Kontakt.KorespondencjTerytorium, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                                    </div>
                                                    <div class="col-sm-5">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* Dane kontaktowe *@
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Dane kontaktowe</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.TelefonFirma, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.TelefonFirma, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.TelefonFirma, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.Email, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.Email, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.Email, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.TelefonKomorka, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.TelefonKomorka, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.TelefonKomorka, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.Skype, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.Skype, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.Skype, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.TelefonPraca, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.TelefonPraca, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.TelefonPraca, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-7">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.TelefonAsystent, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.TelefonAsystent, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.TelefonAsystent, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-7">
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.WWWUrl, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.Kontakt.WWWUrl, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.WWWUrl, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* Identyfikacja *@
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Identyfikacja</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.NIP, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.NIP, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.NIP, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.NumerWPK, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.NumerWPK, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.NumerWPK, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.KRS, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.KRS, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.KRS, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.DodatkowyIdentyfikator, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.DodatkowyIdentyfikator, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.DodatkowyIdentyfikator, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.NIPUE, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.NIPUE, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.NIPUE, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.EKD, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.EKD, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.EKD, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Kontakt.Regon, htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Kontakt.Regon, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.Regon, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-7">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.FormMode == FormMode.Edit || Model.FormMode == FormMode.Dispaly)
                    {
                        <div  class="tab-pane" id="dodatkowe_tab">
                            <div class="form-horizontal">
                                <hr />

                                @* Informacje *@
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Informacje</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.RequiredLabelFor(model => model.Kontakt.GodzinyPracy, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(model => model.Kontakt.GodzinyPracy, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.GodzinyPracy, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.RequiredLabelFor(model => model.Kontakt.DataRozpoczeciaDzialalnosci, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @*@Html.TextBoxFor(model => model.Kontakt.DataRozpoczeciaDzialalnosci, dateFormatString,
                                            htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))*@
                                                @Html.CustomDatePickerFor(
                                                    model => model.Kontakt.DataRozpoczeciaDzialalnosci,
                                                    htmlAttributes: @Html.CreateHtmlAttributes(
                                                        new Dictionary<string, object>
                                                        {
                                                            { "class" , "form-control col-sm-12" }
                                                        }, Model.FormMode),
                                                    dateFormatString: dateFormatString)                                                    
                                                @Html.ValidationMessageFor(model => model.Kontakt.DataRozpoczeciaDzialalnosci, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.RequiredLabelFor(model => model.Kontakt.WpisDoRejestru, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.TextAreaFor(model => model.Kontakt.WpisDoRejestru, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.WpisDoRejestru, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.RequiredLabelFor(model => model.Kontakt.RodzajDzialalnosci, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.TextAreaFor(model => model.Kontakt.RodzajDzialalnosci, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.RodzajDzialalnosci, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.RequiredLabelFor(model => model.Kontakt.Zarzad, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.TextAreaFor(model => model.Kontakt.Zarzad, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.Zarzad, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.RequiredLabelFor(model => model.Kontakt.Uwagi, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.TextAreaFor(model => model.Kontakt.Uwagi,
                                       htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.Uwagi, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* Osoby kontaktowe *@
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Osoby kontaktowe</h3>
                                    </div>
                                    <div class="panel-body">
                                        @Html.Partial("CustomGrid", Model.OsobyKontaktoweGridViewModel)
                                    </div>
                                </div>

                                @* Informacje o odbiorach *@
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Informacje o odbiorcach, którym dane osobowe zostały udostępnione</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.RequiredLabelFor(model => model.Kontakt.ZrodloDanych, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.TextAreaFor(model => model.Kontakt.ZrodloDanych,
                                            htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.ZrodloDanych, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="finansowe_tab">
                            <div class="form-horizontal">
                                <hr />

                                @* Forma rozliczenia *@
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Forma rozliczenia</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.RequiredLabelFor(model => model.Kontakt.FormaRozliczenia, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.CustomDropDownListFor(model => model.Kontakt.FormaRozliczenia,
                                new SelectList(Model.FormyRozliczen, Model.Kontakt.FormaRozliczenia),
                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.FormaRozliczenia, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.RequiredLabelFor(model => model.Kontakt.OpisNaFakture, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.TextAreaFor(model => model.Kontakt.OpisNaFakture,
                                            htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.OpisNaFakture, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* Kategoryzacja *@
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Dane do faktury</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.RequiredLabelFor(model => model.Kontakt.DomyslneKontoKancelarii, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Kontakt.DomyslneKontoKancelarii,
                                       htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.DomyslneKontoKancelarii, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.RequiredLabelFor(model => model.Kontakt.WalutaFaktury, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.HiddenFor(model => model.Kontakt.WalutaFaktury.Value)
                                                @Html.CustomDropDownListFor(model => model.Kontakt.WalutaFaktury.Id,
                                new SelectList(Model.WalutyFaktury, "Id", "Value", Model.Kontakt.WalutaFaktury.Id),
                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.WalutaFaktury, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.RequiredLabelFor(model => model.Kontakt.DomyslnaStawkaVat, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.HiddenFor(model => model.Kontakt.DomyslnaStawkaVat.Value)
                                                @Html.CustomDropDownListFor(model => model.Kontakt.DomyslnaStawkaVat.Id,
                                                    new SelectList(Model.DomyslneStawkiVatFaktury, "Id", "Value", Model.Kontakt.DomyslnaStawkaVat.Id),
                                                    htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.DomyslnaStawkaVat, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                @Html.LabelFor(model => model.Kontakt.OswiadczenieOWystawieniuBezPodpisu, htmlAttributes: new Dictionary<string, object> { { "class", "control-label col-sm-7" } })
                                                <div>
                                                    <span class="bs-checksbox">
                                                        @Html.CustomCheckBox(
                                                            model => model.Kontakt.OswiadczenieOWystawieniuBezPodpisu,
                                                            new { @class = "form-control input-sm" },
                                                            Model.FormMode)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.Kontakt.DomyslnyRabat, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(model => model.Kontakt.DomyslnyRabat, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.DomyslnyRabat, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.LabelFor(model => model.Kontakt.RyczaltAdministracyjny, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(model => model.Kontakt.RyczaltAdministracyjny,
                                        htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.RyczaltAdministracyjny, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.LabelFor(model => model.Kontakt.DomyslnySzablonFaktury, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.CustomDropDownListFor(model => model.Kontakt.DomyslnySzablonFaktury,
                                new SelectList(Model.DomyslneSzablonyFaktury, Model.Kontakt.DomyslnySzablonFaktury),
                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.DomyslnySzablonFaktury, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                @Html.LabelFor(model => model.Kontakt.PokazujZestawienieGodzinoweDlaRyczaltow, htmlAttributes: new Dictionary<string, object> { { "class", "control-label col-sm-7" } })
                                                <div>
                                                    <span id="innyadres-checkbox" class="bs-checksbox">
                                                        @Html.CustomCheckBox(
                                                            model => model.Kontakt.PokazujZestawienieGodzinoweDlaRyczaltow,
                                                            new { @class = "form-control input-sm" },
                                                            Model.FormMode)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.LabelFor(model => model.Kontakt.FormaPlatnosci, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.CustomDropDownListFor(model => model.Kontakt.FormaPlatnosci,
                                new SelectList(Model.FormyPlatnosci, Model.Kontakt.FormaPlatnosci),
                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.FormaPlatnosci, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-7">

                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-5">
                                                @Html.LabelFor(model => model.Kontakt.DomyslneOpisyPozycjiNaFakturzePolskie,
                                                htmlAttributes: new Dictionary<string, object> { { "class", "control-label col-sm-7" } })
                                                <div>
                                                    <span id="innyadres-checkbox" class="bs-checksbox">
                                                        @Html.CustomCheckBox(
                                                            model => model.Kontakt.DomyslneOpisyPozycjiNaFakturzePolskie,
                                                            new { @class = "form-control input-sm" },
                                                            Model.FormMode)
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* Informacje *@
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Informacje</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.LabelFor(model => model.Kontakt.PKWiU, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.TextBoxFor(model => model.Kontakt.PKWiU,
                                            htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.PKWiU, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.LabelFor(model => model.Kontakt.PremiaZaSukces, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(model => model.Kontakt.PremiaZaSukces,
                                            htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.PremiaZaSukces, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col-sm-2">
                                                @Html.LabelFor(model => model.Kontakt.OdKwoty, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(model => model.Kontakt.OdKwoty,
                                            htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.OdKwoty, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-8">
                                                @Html.LabelFor(model => model.Kontakt.LimitGodzinNiezafakturowanychDoAlarmu, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(model => model.Kontakt.LimitGodzinNiezafakturowanychDoAlarmu,
                                            htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.LimitGodzinNiezafakturowanychDoAlarmu, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-8">
                                                @Html.LabelFor(model => model.Kontakt.BudzetLimitKosztowNiezafakturowanychDoAlarmu, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.TextBoxFor(model => model.Kontakt.BudzetLimitKosztowNiezafakturowanychDoAlarmu,
                                            htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.BudzetLimitKosztowNiezafakturowanychDoAlarmu, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* Dane kontaktowe *@
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Waluta</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                @Html.LabelFor(model => model.Kontakt.WalutaStawekGodzinowych, htmlAttributes: new { @class = "control-label col-sm-12" })
                                            </div>
                                            <div class="col-sm-3">
                                                @Html.HiddenFor(model => model.Kontakt.WalutaStawekGodzinowych.Value)
                                                @Html.CustomDropDownListFor(model => model.Kontakt.WalutaStawekGodzinowych.Id,
                                            new SelectList(Model.WalutyStawekGodzinowych, "Id", "Value", Model.Kontakt.WalutaStawekGodzinowych.Id),
                                            htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                                @Html.ValidationMessageFor(model => model.Kontakt.WalutaStawekGodzinowych, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                            </div>
                                            <div class="col-sm-7">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @* Konta bankowe *@
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Konta bankowe</h3>
                                    </div>
                                    <div class="panel-body">
                                        @Html.Partial("CustomGrid", Model.KontaBankoweGridViewModel)
                                    </div>
                                </div>

                                @* Notatki *@
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Notatki</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-sm-12">
                                            @Html.TextAreaFor(model => model.Kontakt.Notatki, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Kontakt.Notatki, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="stawki_tab">
                            <div class="form-horizontal">
                                <hr />
                                @Html.Partial("CustomGrid", Model.StawkiPracownikowGridViewModel)
                            </div>
                        </div>
                        <div class="tab-pane" id="sprawy_tab">
                            <div class="form-horizontal">
                                <hr />
                                @Html.Partial("CustomGrid", Model.SprawyGridViewModel)
                            </div>
                        </div>
                        <div class="tab-pane" id="dok_finansowe_tab">
                            <div class="form-horizontal">
                                <hr />
                                @Html.Partial("CustomGrid", Model.DokumentyFinansoweGridViewModel)
                            </div>
                        </div>
                    }
                </div>
                <div class="buttons-panel-container">
                    <div class="buttons-panel">
                        @Html.ActionLink("Wróć do listy kontaktów", "Index", "Kontakt", new { SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request) }, new { @class = "btn btn-info" })

                        @if (Model.FormMode == FormMode.Edit ||
                 Model.FormMode == FormMode.New)
                        {
                            if (Model.FormMode == FormMode.Edit)
                            {
                                <input type="button" 
                                       value="Usuń" 
                                       onclick="GuiHelper.deleteItem('@Url.Action("Delete",new { id = Model.Kontakt.Id, SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request)})')"
                                       class="btn btn-danger"  />
                                
                            }
                            <input type="submit" value="Zapisz" class="btn btn-success" />
                        }
                        else if (Model.FormMode == FormMode.Dispaly)
                        {
                            @Html.ActionLink("Edytuj", "Edit", "Kontakt",
                                     new { id = Model.Kontakt.Id,
                                            SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request)
                                     },
                                     new { @class = "btn btn-info" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('a[href="' + window.location.hash + '"]').trigger('click');
        $("#rewriteDataButton").on("click", function () {
            GuiHelper.ajaxIndicatorStart("", "main");

            $(".integrated-input").removeClass("integrated-input");

            var spHostUrl = decodeURIComponent(getQueryStringParameter("SPHostUrl"));
            var outLookId = $("#@Html.IdFor(model => model.Kontakt.OutlookContact.Id)").val();

            $.ajax({
                type: "POST",
                url: '/Kontakt/GetOutLookContact?spHostUrl=' + spHostUrl,
                data: "{'outlookContactID':'" + outLookId + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers:
                    {
                        "accept": "application/json;odata=verbose",
                        "content-type": "application/json;odata=verbose",
                        "X-RequestDigest": $("#__REQUESTDIGEST").val()
                    },
                success: function (data) {
                    $("#" + "@Html.IdFor(model => model.Kontakt.Title)").val(data.CompanyName);
                    $("#" + "@Html.IdFor(model => model.Kontakt.Email)").val(data.Mail);
                    $("#" + "@Html.IdFor(model => model.Kontakt.Title)").val(data.CompanyName);
                    $("#" + "@Html.IdFor(model => model.Kontakt.Miasto)").val(data.City);
                    $("#" + "@Html.IdFor(model => model.Kontakt.Kod)").val(data.PostalCode);
                    $("#" + "@Html.IdFor(model => model.Kontakt.Ulica)").val(data.StreetAddress);
                    $("#" + "@Html.IdFor(model => model.Kontakt.Kraj)").val(data.Country);

                    if (data.CompanyName != null) {
                        $("#" + "@Html.IdFor(model => model.Kontakt.Title)").val(data.CompanyName).addClass("integrated-input").on("change", ClearStyle);
                    }
                    if (data.Mail != null) {
                        $("#" + "@Html.IdFor(model => model.Kontakt.Email)").val(data.Mail).addClass("integrated-input").on("change", ClearStyle);
                    }
                    if (data.Surname != null) {
                        //$("#" + "@Html.IdFor(model => model.Kontakt.Title)").val(data.CompanyName).addClass("integrated-input");
                    }
                    if (data.JobTitle != null) {
                        @*$("#" + @Html.IdFor(model => model.Kontakt.Title)).val(data.CompanyName);*@
                    }
                    if (data.City != null) {
                        $("#" + "@Html.IdFor(model => model.Kontakt.Miasto)").val(data.City).addClass("integrated-input").on("change", ClearStyle);
                    }
                    if (data.PostalCode != null) {
                        $("#" + "@Html.IdFor(model => model.Kontakt.Kod)").val(data.PostalCode).addClass("integrated-input").on("change", ClearStyle);
                    }
                    if (data.StreetAddress != null) {
                        $("#" + "@Html.IdFor(model => model.Kontakt.Ulica)").val(data.StreetAddress).addClass("integrated-input").on("change", ClearStyle);
                    }
                    if (data.Country != null) {
                        $("#" + "@Html.IdFor(model => model.Kontakt.Kraj)").val(data.Country).addClass("integrated-input").on("change", ClearStyle);
                    }
                    GuiHelper.ajaxIndicatorStop("main");
                },
                error: function (xhr, status, error) {
                    Logger.logAjaxRequestError(xhr, status, error);
                }
            })
        });

        function ClearStyle() {
            $(this).removeClass("integrated-input")
        }

        UserHelper.createUserPicker(
        "@Html.IdFor(model => model.Kontakt.Prowadzacy.AdditionalValue)",
        "@Html.IdFor(model => model.Kontakt.Prowadzacy.Value)",
        "@Html.IdFor(model => model.Kontakt.Prowadzacy.Id)");

        $("#Kontakt_OswiadczenieOWystawieniuBezPodpisu").parent().attr('Id');

        function ensureAdresKorespondencyjnyDivVisibility(checkbox) {
            if (checkbox.is(":checked")) {
                $("#@adresKorespondencyjnyDivId").show();
            }
            else {
                $("#@adresKorespondencyjnyDivId").hide();
            }
        }

        $("#@Html.IdFor(model => model.Kontakt.InnyAdresKorespondencyjny)").on('ifChanged', function () {
            ensureAdresKorespondencyjnyDivVisibility($(this));
        });

        var checkBox = $("#@Html.IdFor(model => model.Kontakt.InnyAdresKorespondencyjny)");
        ensureAdresKorespondencyjnyDivVisibility(checkBox);
    </script>
}