﻿@model Kancelaria365.Web.KontaktListViewModel
@{
    ViewBag.Title = "Lista kontaktów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
    <div>
        <h2><i class="fa fa-users"></i> @ViewBag.Title</h2>
    </div>
    <div class="x_content">
        <div>
            @Html.Partial("KontaktyGridFilterView", Model)
            <br />
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("KontaktyGridView", Model)
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="x_panel">
        <div>
            <h2><i class="fa fa-users"></i> @ViewBag.Title</h2>
        </div>
        <div class="x_content">
            <div>
                <ul class="nav nav-tabs bar_tabs" id="sprawa_tabs">
                    <li class="active"><a data-target="#dane_tab" tab="simple" data-toggle="tab">Wyszukiwanie podstawowe</a></li>
                    <li><a data-target="#dodatkowe_tab" tab="complex" data-toggle="tab">Wyszukiwanie zaawansowane</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="dane_tab">
                        <br />
                        @Html.Partial("KontaktyGridFilterView", Model)
                    </div>
                    <div class="tab-pane" id="dodatkowe_tab">
                        <br />
                        <div class="search-buttons-panel">
                            <div class="form-group" id="kontaktyAdvancedSearchDiv">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("KontaktyGridView", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
