﻿@model Kancelaria365.Web.ZadanieListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista zadań</h2>

<div>
    <ul class="nav nav-tabs" id="sprawa_tabs">
        <li class="active"><a data-target="#dane_tab" tab="simple" data-toggle="tab">Wyszukiwanie podstawowe</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="dane_tab">
            <br />
            @Html.Partial("ZadaniaGridFilterView", Model)
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("ZadaniaGridView", Model)
            </div>
        </div>
    </div>
</div>