﻿<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/weight.ico" />

    <title>Kancelaria 365</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/gentelella_top")
    @Scripts.Render("~/bundles/custom")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    @Styles.Render("~/bundles/gentelella")

    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        function ActionToController(controller, params) {
            var items = $("Form").attr("action").split("?");
            var query = items[1];
            var vars = query.split('&');

            var spHostUrl = "";
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (decodeURIComponent(pair[0]) == "SPHostUrl") {
                    spHostUrl = decodeURIComponent(pair[1]);
                }
            }

            var queryString = items[1];
            var action = "";
            if (params != null && params.length > 0) {
                action = controller + "?SPHostUrl=" + spHostUrl + "&" + params;
            }
            else {
                action = controller + "?SPHostUrl=" + spHostUrl;
            }

            $("Form").attr("action", action);
        }

        function getQueryStringParameter(paramToRetrieve) {
            try {
                var params =
                    document.URL.split("?")[1].split("&");
                var strParams = "";
                for (var i = 0; i < params.length; i = i + 1) {
                    var singleParam = params[i].split("=");
                    if (singleParam[0] == paramToRetrieve)
                        return singleParam[1];
                }
            }
            catch (e) {
                Logger.logError(e);
            }
        }

        function OnBegin() {
            GuiHelper.ajaxIndicatorStart("", "main-body");
            Logger.logInfo("OnBegin");
        }

        function OnFailure() {
            Logger.logInfo("OnFailure");
        }

        function OnComplete() {
            GuiHelper.ajaxIndicatorStop("main-body");

            Logger.logInfo("OnComplete");
        }

        function OnSuccess() {
            Logger.logInfo("OnSuccess");
        }
    </script>
</head>

<body id="main-body" class="nav-md pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>

    <div class="container body">


        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view" tabindex="5000" style="overflow: hidden; outline: none; cursor: -webkit-grab;">

                    <div class="navbar nav_title" style="border: 0;">
                        <a  href="@Url.Action("Index", "Home")" class="site_title AddSPHostUrl"><i class="fa fa-balance-scale"></i> <span>Kancelaria 365</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="@Url.Action("GetCurrentUserPhoto", "Base")" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Witaj,</span>
                            <h2>@Html.Action("GetCurrentUserDisplayName", "Base")</h2>
                        </div>
                    </div>
                    <!-- /menu prile quick info -->

                    <br>

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h3>Moduły</h3>
                            <ul class="nav side-menu">
                                <li class="active">
                                    <a class="AddSPHostUrl" href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i>Panel użytkownika<span class="fa"></span></a>
                                </li>
                                <li>
                                    <a class="AddSPHostUrl" href="@Url.Action("Index", "Kalendarz")"><i class="fa fa-calendar"></i>Kalendarz<span class="fa"></span></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i> Kontakty <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <li>@Html.ActionLink("Lista kontaktów", "Index", "Kontakt", null, htmlAttributes: new Dictionary<string, object> { { "class", "AddSPHostUrl" } })</li>
                                        <li>@Html.ActionLink("Nowy kontakt", "Create", "Kontakt", null, htmlAttributes: new Dictionary<string, object> { { "class", "AddSPHostUrl" } })</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-cogs"></i> Sprawy <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <li>@Html.ActionLink("Lista spraw", "Index", "Sprawa", null, htmlAttributes: new Dictionary<string, object> { { "class", "AddSPHostUrl" } })</li>
                                        <li>@Html.ActionLink("Nowa sprawa", "Create", "Sprawa", null, htmlAttributes: new Dictionary<string, object> { { "class", "AddSPHostUrl" } })</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-cog"></i> Czynności <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <li>@Html.ActionLink("Lista czynności", "Index", "Czynnosc", null, htmlAttributes: new Dictionary<string, object> { { "class", "AddSPHostUrl" } })</li>
                                        <li>@Html.ActionLink("Nowa czynność", "Create", "Czynnosc", null, htmlAttributes: new Dictionary<string, object> { { "class", "AddSPHostUrl" } })</li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-money"></i> Koszty <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none;">
                                        <li>@Html.ActionLink("Lista kosztów", "Index", "Koszt", null, htmlAttributes: new Dictionary<string, object> { { "class", "AddSPHostUrl" } })</li>
                                        <li>@Html.ActionLink("Nowy koszt", "Create", "Koszt", null, htmlAttributes: new Dictionary<string, object> { { "class", "AddSPHostUrl" } })</li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="AddSPHostUrl" href="@Url.Action("Index", "Slownik")"><i class="fa fa-book"></i>Słowniki<span class="fa"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-expanded="false">
                                    <img src="@Url.Action("GetCurrentUserPhoto", "Base")" alt="">@Html.Action("GetCurrentUserDisplayName", "Base")
                                </a>
                            </li>

                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span id="messages-count" class="badge bg-green">6</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="min-height: 564px;">

                @RenderBody()

            </div>
            <!-- /page content -->
        </div>

    </div>
    <script type="text/javascript">
        $("#messages-count").text(GraphHelper.UnreadMessagesCount());
    </script>
    @Scripts.Render("~/bundles/spcontext")
    @Scripts.Render("~/bundles/gentelella_bottom")
</body>

</html>