﻿@model Kancelaria365.Web.CustomGridViewModel
@using Newtonsoft;
@using Kancelaria365.Data;

@{
    string jsonString = Newtonsoft.Json.JsonConvert.SerializeObject(Model.AdvancedSearchObjectList);

    string gridId = "gridTable_" + Model.GuidObject;
    string gridControllerON = "gridController_" + Model.GuidObject;
    string gridFieldsON = "gridFields_" + Model.GuidObject;
    string getAdvancedLoadDataParamObj = "getAdvancedLoadDataParamObject_" + Model.GuidObject;
    string getSimpleLoadDataParamObj = "getSimpleLoadDataParamObject_" + Model.GuidObject;
    string detailsFunction = "details_" + Model.GuidObject;

    string advancedSearchObjectName = "advancedSearchObject_" + Model.GuidObject;
    string advancedSearchStateObject = "advancedSearchStateObject_" + Model.GuidObject;

    string searchObjectName = "gridSearchObject_" + Model.GuidObject;

    string deleteElementFunction = "deleteElement_" + Model.GuidObject;
    string addElementFunction = "addElement_" + Model.GuidObject;
    string editElementFunction = "editElement_" + Model.GuidObject;

    string tableDivContainer = "tableDivContainer_" + Model.GuidObject;

    string gridLoadData = "gridLoadData_" + Model.GuidObject;

    string fileLoadInputName = "fileLoadInputName_" + Model.GuidObject;

    var elementsWithToShowValue = Model.CostomGridFieldsMetadataList.Where(x => x.ShowFieldValueProperty).ToList();
}

@if (Model.IsFileLoader)
{
    <text>
        <div class="form-group">
            <input id="@fileLoadInputName" type="file">
            <script type="text/javascript">
                $("#@fileLoadInputName").custFieldInput('@(Model.AjaxAddItemUrl)',
                                function (source, event) {
                                    GuiHelper.ajaxIndicatorStart("", "main-body");
                                    var d = $.Deferred();
                                    var data = source.getFileInputContent();
                                    @(addElementFunction)(d,data)
                                    d.always(function (){
                                        GuiHelper.ajaxIndicatorStop("main-body");
                                    });
                                    return d.promise();
                                });
            </script>
        </div>
    </text>
}

<div class="form-group">
    <div class="col-md-12" id="@tableDivContainer">
        <div id="@gridId"></div>
    </div>
</div>
<script type="text/javascript">
    var @searchObjectName = {};
    var @gridFieldsON = [
    @foreach (CostomGridFieldMetadata item in Model.CostomGridFieldsMetadataList)
    {
    <text>
        {   name: "@item.Name",
            width: "auto",
            @if(item.ItemEditDropdownValues.Count > 0)
            {
                 <text>
            type: "select",
            headercss : "custom-grid-header-css",
            align: "left",
            items: [
                    @foreach (DictionaryItem dictItem in item.ItemEditDropdownValues)
                    {
                    <text>
                     { Value: "@(dictItem.Value)", Id: @(dictItem.Id) },
                    </text>
                    }
            ],
            valueField: "Id",
            textField: "Value",
            editValue: function() {
                return {Id: this.editControl.find(":selected").val(), Value: this.editControl.find(":selected").text() };
            },
            insertValue: function() {
                return {Id: this.insertControl.find(":selected").val(), Value: this.insertControl.find(":selected").text() };
            },
            editTemplate: function(value, item) {
                return this.editControl = this.insertControl.clone().val(value.Id).change();
            },
            </text>

            }
            else
            {
                 <text>
            type: "text",
            validate: {
                validator: "required",
                message: function (){
                    return false;
                },
            },
            </text>
            }
            filtering: true,
            title: "@item.Title",
            sorting: @item.IsSortable.ToString().ToLower(),
            @if (item.ShowFieldValueProperty)
            {
                <text>
            itemTemplate: function(value, item){
                try
                {
                    return value.Value;
                }
                catch (e) {
                    Logger.logError(e);
                }
            },
            filterValue: function(){
                var x = 0;
            },
            </text>
            }
            else if (item.IsDate)
            {
              <text>
            itemTemplate: function(value, item){
                try
                {
                    return moment(value).format("YYYY-MM-DD");
                }
                catch (e) {
                    Logger.logError(e);
                }
            },
            editTemplate: function(value, item) {
                return this._editPicker = $("<input>").datepicker({language: "pl"}).datepicker("setDate", new Date(moment(value)));
            },
            editValue: function() {
                return this._editPicker.datepicker("getDate").toISOString();
            },
            insertTemplate: function() {
                return this._editPicker = $("<input>").datepicker({language: "pl"}).datepicker("setDate", new Date());
            },
            insertValue: function() {
                return this._editPicker.datepicker("getDate").toISOString();
            },
            </text>
            }
        },
    </text>
    }
    @if (Model.IsDetailsButton)
    {
            <text>
    {
        css: "cust-grid-details-button",
        width: 36,
        type: "control",
        fixed :true,
        frozen:true,
        deleteButton: false,

        itemTemplate: function(value, item){
            try
            {
                return "<img type='button' src='~/Images/details.png'  onClick='@(detailsFunction)("+item.Id+");'>";
            }
            catch (e) {
                Logger.logError(e);
            }
        }
    },
    </text>
    }
        @if (Model.IsDownloadFile)
    {
            <text>
    {
        css: "cust-grid-download-button",
        width: 36,
        type: "control",
        fixed :true,
        frozen:true,
        deleteButton: false,

        itemTemplate: function(value, item){
            try
            {
                return "<a href='"+item["@(Model.DownloadLinkObjectProperty)"]+"' target='_blank'><img src='~/Images/download.png'></a>";
            }
            catch (e) {
                Logger.logError(e);
            }
        }
    },
    </text>
    }
    @if (@Model.IsEditing)
    {
            <text>
    { type: "control" },
    </text>
    }
    ];

    var @gridControllerON = {
        loadData: function(filter) {
            GuiHelper.ajaxIndicatorStart("", "main-body");
            var d = $.Deferred();
            $("#@gridId").find(".jsgrid-filter-row .jsgrid-search-button").hide();
            @if(Model.IsSearching)
            {
                @:@(getAdvancedLoadDataParamObj)(filter);
                                                                                                                        }
            else
            {
                @:@(getSimpleLoadDataParamObj)(filter);
                                                                                                                        }
            @(gridLoadData)(d, filter);
            d.always(function (){
                GuiHelper.ajaxIndicatorStop("main-body");
            });
            return d.promise();
        },
        insertItem: function(item){
            @if (@Model.IsEditing)
            {
                <text>
            GuiHelper.ajaxIndicatorStart("", "main-body");
            var d = $.Deferred();
            $("#@gridId").find(".jsgrid-insert-mode-button").click();
            @(addElementFunction)(d, item);
            d.always(function (){
                GuiHelper.ajaxIndicatorStop("main-body");
            });
            return d.promise();
            </text>
                                                                                                                                                                                                            }
        },
        updateItem: function(item, element){
            @if (@Model.IsEditing)
            {
                <text>
            GuiHelper.ajaxIndicatorStart("", "main-body");
            var d = $.Deferred();
            @(editElementFunction)(d, item);
            d.always(function (){
                GuiHelper.ajaxIndicatorStop("main-body");
            });
            return d.promise();

            </text>
                                                            }
        },
        deleteItem: function(item){
            @if (@Model.IsEditing)
            {
                <text>
            GuiHelper.ajaxIndicatorStart("", "main-body");
            var d = $.Deferred();
            @(deleteElementFunction)(d, item);
            d.always(function (){
                GuiHelper.ajaxIndicatorStop("main-body");
            });
            return d.promise();
            </text>
            }
        }
    }

    function @(gridLoadData) (d, filter){
        var returnObject = [];
        var totalItemsCount = 0;
        var spHostUrl = getSPHostUrlFromQueryString(window.location.search);
        $.ajax({
            url: "@Model.AjaxGridDataSource" + "?spHostUrl=" + spHostUrl,
            type: 'POST',
            data: JSON.stringify(@searchObjectName),
            cache: false,
            dataType: 'json',
            processData: false, // Don't process the files
            contentType: "application/json; charset=utf-8",
            success: function (data, textStatus, jqXHR) {
                if (typeof data.error === 'undefined') {
                    returnObject = data.Records;
                    totalItemsCount = data.Total;
                    d.resolve({ data: returnObject, itemsCount: totalItemsCount });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                d.reject();
            }
        });
    };

    @if(Model.IsSearching)
    {

        <text>


    function advancedSearchButtonClickedCallback(asdasd, adasdsadqwe){
        var advancedSearchState = @(advancedSearchObjectName).getCheckedStatus();
        @(searchObjectName)["IsAdvancedSearch"] = true;
        @(searchObjectName)["SearchtText"] = advancedSearchState["SearchTest"];
        @(searchObjectName)["AdvancedSearch"] = advancedSearchState["CheckboxesStatus"];
        $("#@gridId").jsGrid("loadData");
    };

    function @(getAdvancedLoadDataParamObj) (filter){
        var simpleSearchTable = [];
        for(var i = 0; i < @(gridFieldsON).length; i++){
            var value = @(gridFieldsON)[i];
            if(value.filtering)
            {
                var object = {};
                object["PropertyName"] = value.name;
                object["Value"] = filter[value.name];
                simpleSearchTable.push(object);
            }
        }
        var additionalSimpleSearching = btnSimpleSearchGetSelectedValues();
        var clearDataSource = false;
        $.each(additionalSimpleSearching, function (index, value){
            if(index == "ClearDataSource"){
                clearDataSource = value;
            }
            else{
                simpleSearchTable.push({"PropertyName": index, "Value": value});
            }
        });
        @(searchObjectName)["UseCustomDataSource"] = @Model.UseCustomDataSource.ToString().ToLower();
        @(searchObjectName)["CustomDataSourceName"] = '@Model.CustomDataSourceName';
        @(searchObjectName)["ClearDataSource"]=clearDataSource;
        @(searchObjectName)["SimpleSearch"]=simpleSearchTable;
        @(searchObjectName)["Direction"]= filter.sortOrder;
        @(searchObjectName)["SortBy"]= filter.sortField;
        @(searchObjectName)["Limit"]= filter.pageSize;
        @(searchObjectName)["Page"]= filter.pageIndex;
    };

    $(document).ready(function () {
        $("#btnSimpleSearch").on('click', function(){
            @(searchObjectName)["IsAdvancedSearch"]= false;
            @(searchObjectName)["AdvancedSearch"] = {};
            @(searchObjectName)["SearchtText"]= "";
            $("#@gridId").jsGrid("loadData");
        });

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("tab")
            if(target == "complex"){
                $("#@gridId").jsGrid("option", "filtering", false);
                $("#@gridId").find(".jsgrid-search-mode-button").hide();
            }
            else{
                $("#@gridId").jsGrid("option", "filtering", true);
                $("#@gridId").find(".jsgrid-search-mode-button").show();
            }
        });


        var asdfsdaasd = "@jsonString";
        var asdfsdaasdJSON = $("<div>").html(asdfsdaasd).text();
        @advancedSearchObjectName = $("#@Model.AdvancedDivId").advancedSearchPanel(JSON.parse(asdfsdaasdJSON), advancedSearchButtonClickedCallback);
    });
    </text>
    }
    else
    {
        <text>
    function @getSimpleLoadDataParamObj (filter){
        var returnObject = [];
        var totalItemsCount = 0;
        var simpleSearchTable = [];
        for(var i = 0; i < @(gridFieldsON).length; i++){
            var value = @(gridFieldsON)[i];
            if(value.filtering)
            {
                var object = {};
                object["PropertyName"] = value.name;
                object["Value"] = filter[value.name];
                simpleSearchTable.push(object);
            }
        }
        simpleSearchTable.push({"PropertyName": "@Model.DetailsElementName", "Value": @Model.DetailsElementId});
        @(searchObjectName)["SimpleSearch"] = simpleSearchTable;
        @(searchObjectName)["Direction"] = filter.sortOrder;
        @(searchObjectName)["SortBy"] = filter.sortField;
        @(searchObjectName)["Limit"] = filter.pageSize;
        @(searchObjectName)["Page"] = filter.pageIndex;
        @(searchObjectName)["UseCustomDataSource"] = @Model.UseCustomDataSource.ToString().ToLower();
        @(searchObjectName)["CustomDataSourceName"] = '@Model.CustomDataSourceName';
    };
    </text>
    }

    function @(detailsFunction)(id) {
        var hostweburl = decodeURIComponent(getQueryStringParameter("SPHostUrl"));
        window.location.href = "@Model.GridItemDetailsControlerActionUrl" + id + "?SPHostUrl=" + hostweburl;
    };

    @if(Model.IsEditing || Model.IsFileLoader)
    {
        <text>
    function @(addElementFunction)(d,item){
        var spHostUrl = getSPHostUrlFromQueryString(window.location.search);
        @if(Model.IsFileLoader)
    {
        <text>
        var elementToAdd = item;
        elementToAdd.append("@(Model.DetailsElementName)", @Model.DetailsElementId);
        </text>
    }
    else
    {
        <text>
        var elementToAdd = {};
        item["@(Model.DetailsElementName)"] = @Model.DetailsElementId;
        elementToAdd["model"] = item;
        </text>
    }
        $.ajax({
            url: "@Model.AjaxAddItemUrl" + "?spHostUrl=" + spHostUrl,
            type: 'POST',
            cache: false,
            @if(Model.IsFileLoader)
                {
                    <text>
            dataType: 'json',
            processData: false,
            data: elementToAdd,
            contentType: false,
            </text>
                }
            else
            {
                <text>
            data: JSON.stringify(elementToAdd),
            contentType: "application/json; charset=utf-8",
            </text>
            }
            success: function (data, textStatus, jqXHR) {
                $("#@gridId").jsGrid("refresh");
                $("#@gridId").jsGrid("loadData");
                d.resolve();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $("#@gridId").jsGrid("refresh");
                $("#@gridId").jsGrid("loadData");
                d.reject();
            }
        });
    }
    </text>
    }
    @if (@Model.IsEditing)
    {
        <text>
    function @(deleteElementFunction)(d,item){
        var spHostUrl = getSPHostUrlFromQueryString(window.location.search);
        $.ajax({
            url: "@Model.AjaxRemoveItemUrl" + item["Id"] + "&spHostUrl=" + spHostUrl,
            type: 'GET',
            cache: false,
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function (data, textStatus, jqXHR) {
                $("#@gridId").jsGrid("refresh");
                $("#@gridId").jsGrid("loadData");
                d.resolve();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $("#@gridId").jsGrid("refresh");
                $("#@gridId").jsGrid("loadData");
                d.reject();
            }
        });
    }

    function @(editElementFunction)(d,item){
        var spHostUrl = getSPHostUrlFromQueryString(window.location.search);
        var elementToAdd = {};
        item["@(Model.DetailsElementName)"] = @Model.DetailsElementId;
        elementToAdd["model"] = item;
        $.ajax({
            url: "@Model.AjaxEditItemUrl" + "?spHostUrl=" + spHostUrl,
            type: 'POST',
            data: JSON.stringify(elementToAdd),
            cache: false,
            contentType: "application/json; charset=utf-8",
            success: function (data, textStatus, jqXHR) {
                $("#@gridId").jsGrid("refresh");
                $("#@gridId").jsGrid("loadData");
                d.resolve();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                $("#@gridId").jsGrid("refresh");
                $("#@gridId").jsGrid("loadData");
                d.reject();
            }
        });
    }
    </text>
    }


    $(document).ready(function () {
        $("#@gridId").jsGrid({
            width: "100%",
            inserting: @Model.IsInserting.ToString().ToLower(),
            editing: @Model.IsEditing.ToString().ToLower(),
            sorting: true,
            paging: @Model.IsPager.ToString().ToLower(),
            filtering: @Model.IsSearching.ToString().ToLower(),
            pageSize: @Model.PageSize,
            pageLoading: true,
            autoload: @Model.IsAutoload.ToString().ToLower(),
            controller: @gridControllerON,
            loadIndication: true,
            @if (!String.IsNullOrWhiteSpace(Model.NoDataContent))
            {
                @:noDataContent: "@Model.NoDataContent",
                        }
            else
            {
                @:noDataContent: "Brak wierszy do wyświetlenia",
            }
            onItemInvalid: function(args) {
                args.row.find(".jsgrid-invalid input").attr("placeholder", "Wartość wymagana");
                return "";
            },
            rowClick: function(args) {
            },
            invalidNotify: function(args) {
                return;
            },
            loadIndicator: function(config) {
                return {
                    show: function() {
                        var x = 0;
                    },
                    hide: function() {
                        var y = 1;
                    }
                };
            },

            fields: @gridFieldsON,
        });

        $("#@gridId").find(".jsgrid-search-mode-button").click();
        $("#@gridId").find(".jsgrid-filter-row .jsgrid-search-button").hide();
        $("#@gridId").find(".jsgrid-table").addClass("cust-grid");
        $("#@gridId").find(".jsgrid-grid-header").css({'overflow-y': 'auto'});
        $("#@gridId").find(".jsgrid-grid-body").css({'overflow-y': 'auto'});
    });
</script>
