﻿@model Kancelaria365.Web.HomeListViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row tile_count">
    <div class="animated flipInY col-md-3 col-sm-6 col-xs-6 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-users"></i> Liczba klientów</span>
            <div class="count">@Html.Action("GetTotalClientsCount", "Base")</div>
            <span class="count_bottom"><i class="green"></i></span>
        </div>
    </div>
    <div class="animated flipInY col-md-3 col-sm-6 col-xs-6 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-cogs"></i> Liczba spraw</span>
            <div class="count">@Html.Action("GetTotalCasesCount", "Base")</div>
            <span class="count_bottom"><i class="green"></i></span>
        </div>
    </div>
    <div class="animated flipInY col-md-3 col-sm-6 col-xs-6 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-money"></i> Suma kosztów</span>
            <div class="count">@Html.Action("GetSumaKosztow", "Base")</div>
            <span class="count_bottom"><i class="green"></i></span>
        </div>
    </div>
    <div class="animated flipInY col-md-3 col-sm-6 col-xs-6 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-clock-o"></i> Całkowity czas czynności</span>
            <div class="count">@Html.Action("GetSumaCzasuCzynnosci", "Base")</div>
            <span class="count_bottom"><i class="green"></i></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel tile fixed_height_320">
            <div class="x_title">
                <h2>Czynności przypisane do mnie</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @Html.Partial("CustomGrid", Model.CzynnosciGridViewModel)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
            <div class="x_title">
                <h2>Koszty przypisane do mnie</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @Html.Partial("CustomGrid", Model.KosztyGridViewModel)
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // Pie chart
        //Chart.defaults.global.legend = {
        //    enabled: false
        //};

        //var data = {
        //    labels: [
        //      "Symbian",
        //      "Blackberry",
        //      "Other",
        //      "Android",
        //      "IOS"
        //    ],
        //    datasets: [{
        //        data: [15, 20, 30, 10, 30],
        //        backgroundColor: [
        //          "#BDC3C7",
        //          "#9B59B6",
        //          "#455C73",
        //          "#26B99A",
        //          "#3498DB"
        //        ],
        //        hoverBackgroundColor: [
        //          "#CFD4D8",
        //          "#B370CF",
        //          "#34495E",
        //          "#36CAAB",
        //          "#49A9EA"
        //        ]

        //    }]
        //};

        //var canvasDoughnut = new Chart(document.getElementById("canvas1"), {
        //    type: 'doughnut',
        //    tooltipFillColor: "rgba(51, 51, 51, 0.55)",
        //    data: data
        //});
    });

</script>
