﻿@using Kancelaria365.Data
@using Kancelaria365.Common
@using Kancelaria365.Web

@{
    if (ViewBag.SaveStatus != null)
    {
        if (ViewBag.SaveStatus == SaveStatus.ValidationError)
        {
            <script type="text/javascript">
                $(document).on("ajaxIndicatorComplited", function () {
                    BootstrapDialog.show({
                        title: "Ostrzeżenie",
                        type: BootstrapDialog.TYPE_WARNING,
                        message: "Formularz zawiera błędy i nie został zapisany!",
                    });
                    $(this).off('ajaxIndicatorComplited');
                });
            </script>
        }
        else if (ViewBag.SaveStatus == SaveStatus.Exception)
        {
            <script type="text/javascript">
                $(document).on("ajaxIndicatorComplited", function () {
                    BootstrapDialog.show({
                        title: "Błąd",
                        type: BootstrapDialog.TYPE_DANGER,
                        message: "Wystąpił niespodziewany wyjątek podaczas zapisu. Formularz nie został zapisany.",
                    });
                    $(this).off('ajaxIndicatorComplited');
                });
            </script>
        }
        else
        {
            <script type="text/javascript">
                $(document).on("ajaxIndicatorComplited", function () {

                    var spHostUrl=  getSPHostUrlFromQueryString(window.location.search);

                    BootstrapDialog.show({
                        title: "Informacja",
                        type: BootstrapDialog.TYPE_INFO,
                        message: "Formularz został zapisany poprawnie!",
                        onhidden: function (dialogRef) {
                            window.location = '@Url.Action("Index", ViewBag.Controller)' + "?SPHostUrl=" + spHostUrl;
                        }
                    });
                    $(this).off('ajaxIndicatorComplited');
                });
            </script>
        }
    }
}

