﻿@model Kancelaria365.Web.KosztViewModel
@using Kancelaria365.Data
@using Kancelaria365.Common
@using Kancelaria365.Web


@Html.HiddenFor(model => model.Koszt.Id)
@Html.HiddenFor(model => model.FormMode)

@{
    string dateFormatString = GlobalNames.FormatStrings.DateFormatString;

    @Html.Partial("SaveStatus");

    <div id="main" class="x_panel">
        <div>
            <div class="form-group">
                <div class="col-sm-10">
                    <h2><i class="fa fa-money"></i> @ViewBag.Title</h2>
                </div>
                <div class="col-sm-2">
                    <div class="buttons-panel-container" style="float:right">
                        <div class="buttons-panel">
                            @if (Model.FormMode == FormMode.Dispaly || Model.FormMode == FormMode.Edit)
                            {
                                @Html.ActionLink("Pobierz raport", "GetFile", "Kontakt",
              new { id = Model.Koszt.Id },
                 new { @class = "btn btn-info" })
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div><div class="x_content">
            <div class="container">
                <ul class="nav nav-tabs bar_tabs" id="sprawa_tabs">
                    <li class="active"><a data-target="#dane_tab" data-toggle="tab">Dane</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="dane_tab">
                        <div class="form-horizontal">
                            <hr />
                            @Html.ValidationSummary(true, "", new Dictionary<string, object> { { "class", "text-danger" } })

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Dane</h3>
                                </div>
                                <div class="panel-body">

                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Koszt.Title,
                                            htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.Koszt.Title, htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Koszt.Title, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Koszt.Firma,
                                         htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.CustomDropDownListFor(model => model.Koszt.Firma.Id,
                                                new SelectList(Model.Kontakty, "Id", "Value", Model.Koszt.Firma.Id),
                                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Koszt.Firma, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Koszt.Sprawa,
                                         htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.CustomDropDownListFor(model => model.Koszt.Sprawa.Id,
          new SelectList(Model.Sprawy, "Id", "Value", Model.Koszt.Sprawa.Id),
          htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                            @Html.ValidationMessageFor(model => model.Koszt.Sprawa, "", new Dictionary<string, object> { { "class", "text-danger" } })


                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Koszt.Opis,
                                         htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(model => model.Koszt.Opis,
          htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))

                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Koszt.Kategoria,
                                         htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.CustomDropDownListFor(model => model.Koszt.Kategoria.Id,
          new SelectList(Model.KategorieKosztow, "Id", "Value", Model.Koszt.Kategoria.Id),
          htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))

                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Koszt.Wprowadzajacy,
                                       htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.HiddenFor(model => model.Koszt.Wprowadzajacy.Id)
                                            @Html.TextBoxFor(model => model.Koszt.Wprowadzajacy.Value,
             htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, FormMode.Dispaly))

                                            @Html.ValidationMessageFor(model => model.Koszt.Wprowadzajacy, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-2">
                                        </div>
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.Koszt.Data,
                                     htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-3">
                                            @Html.TextBoxFor(model => model.Koszt.Data, dateFormatString,
             htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, FormMode.Dispaly))

                                            @Html.ValidationMessageFor(model => model.Koszt.Data, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Finanse</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Koszt.KwotaNetto,
                                       htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-2">

                                            @Html.CustomCurrencyInput(
                                                    model => model.Koszt.KwotaNetto,
                                                    @Html.IdFor(model => model.Koszt.StawkaVat.Id).ToString(),
                                                    @Html.IdFor(model => model.Koszt.KwotaBrutto).ToString(),
                                                 htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object>
                                                 {
                                                    { "class", "form-control input-sm" }
                                                 }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Koszt.KwotaNetto, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.Koszt.StawkaVat,
                                       htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.CustomVatDropDownList(
                                                model => model.Koszt.StawkaVat.Id,
                                                @Html.IdFor(model => model.Koszt.KwotaNetto).ToString(),
                                                @Html.IdFor(model => model.Koszt.KwotaBrutto).ToString(),
                                                new SelectList(Model.StawkiVAT, "Id", "Value", Model.Koszt.StawkaVat.Id),
                                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Koszt.StawkaVat, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Koszt.KwotaBrutto,
                                       htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(model => model.Koszt.KwotaBrutto,
                                                format: "{0:0.00}",                 
                                                htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, FormMode.Dispaly))

                                            @Html.ValidationMessageFor(model => model.Koszt.KwotaBrutto, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Koszt.Waluta,
                                       htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.CustomDropDownListFor(model => model.Koszt.Waluta.Id,
                                              new SelectList(Model.Waluty, "Id", "Value", Model.Koszt.Waluta.Id),
                                              htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Koszt.Waluta, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.Koszt.Kurs,
                                       htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(model => model.Koszt.Kurs,
             htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Koszt.Kurs, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Koszt.ObciazycKlienta,
                                                htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.CustomCheckBox(
                                                            model => model.Koszt.ObciazycKlienta,
                                                            new { @class = "form-control input-sm" },
                                                            Model.FormMode)
                                         </div>

                                        <div class="col-sm-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.LabelFor(model => model.Koszt.PKWiU,
                                       htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(model => model.Koszt.PKWiU,
                                                htmlAttributes: @Html.CreateHtmlAttributes(
                                                    new Dictionary<string, object> {
                                                        { "class", "form-control input-sm" }
                                                    }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Koszt.PKWiU, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-1">
                                            @Html.LabelFor(model => model.Koszt.NumerFaktury,
                                       htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-2">
                                            @Html.TextBoxFor(model => model.Koszt.NumerFaktury,
             htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control input-sm" } }, Model.FormMode))

                                            @Html.ValidationMessageFor(model => model.Koszt.NumerFaktury, "", new Dictionary<string, object> { { "class", "text-danger" } })
                                        </div>
                                        <div class="col-sm-5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Uwagi</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-sm-2">
                                            @Html.RequiredLabelFor(model => model.Koszt.Uwagi,
                                         htmlAttributes: new { @class = "control-label col-sm-12" })
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.TextAreaFor(model => model.Koszt.Uwagi,
          htmlAttributes: @Html.CreateHtmlAttributes(new Dictionary<string, object> { { "class", "form-control col-sm-12 input-sm" } }, Model.FormMode))
                                        </div>
                                        <div class="col-sm-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="buttons-panel-container">
                    <div class="buttons-panel">
                        @Html.ActionLink("Wróć do sprawy", "Details", "Sprawa", new { id = Model.Koszt.Sprawa.Id, SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request) },
         new { @class = "btn btn-info" })

                        @if (Model.FormMode == FormMode.Edit ||
Model.FormMode == FormMode.New)
                        {
                            if (Model.FormMode == FormMode.Edit)
                            {
                                <input type="button"
                                       value="Usuń"
                                       onclick="GuiHelper.deleteItem('@Url.Action("Delete",new { id = Model.Koszt.Id, SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request)})')"
                                       class="btn btn-danger" />
                            }
                            <input type="submit" value="Zapisz" class="btn btn-success" />
                        }
                        else if (Model.FormMode == FormMode.Dispaly)
                        {
                            @Html.ActionLink("Edytuj", "Edit", "Koszt",
                              new { id = Model.Koszt.Id, SPHostUrl = SharePointContext.GetSPHostAbsoluteUri(Request) },
                              new { @class = "btn btn-info" })
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    CascadeKontaktSprawaDropDowns.init(
            "@Html.IdFor(model => model.Koszt.Firma.Id)",
            "@Html.IdFor(model => model.Koszt.Sprawa.Id)",
            "@Url.Action("GetKontakt", "Czynnosc")",
            "@Url.Action("GetSprawy", "Czynnosc")");
</script>
