﻿@model Kancelaria365.Web.KosztListViewModel
@{ 
    string token = DateTime.Now.Millisecond.ToString();
}
<div class="search-buttons-panel">
    <div class="form-group">
        <div class="col-md-5">
        </div>
        <div class="col-md-1">
            @Html.LabelFor(model => model.FilterViewModel.Kontakty,
                htmlAttributes: new { @class = "control-label col-md-12" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.FilterViewModel.Kontakty,
                new SelectList(Model.FilterViewModel.Kontakty, "Id", "Value"),
                htmlAttributes: new { @class = "form-control col-md-12 input-sm" })
        </div>
        <div class="col-md-1">
            @Html.LabelFor(model => model.FilterViewModel.Sprawy,
                htmlAttributes: new { @class = "control-label col-md-12" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.FilterViewModel.Sprawy,
                new SelectList(Model.FilterViewModel.Sprawy, "Id", "Value"),
                htmlAttributes: new { @class = "form-control col-md-12 input-sm" })
        </div>
        <div class="col-md-1">
            <button id="btnSimpleSearch" type="button" class="btn btn-info">Szukaj</button>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/spcontext")
<script type="text/javascript">
    var lastKontaktId_@token = -1;
    var lastSprawaId_@token = -1;
    function btnSimpleSearchGetSelectedValues() {
        var kontaktyVal = $("#@Html.IdFor(model => model.FilterViewModel.Kontakty)").val();
        var sprawyVal = $("#@Html.IdFor(model => model.FilterViewModel.Sprawy)").val();
        var clearDataSource = false;
        if (lastKontaktId_@token != kontaktyVal ||
            lastSprawaId_@token != sprawyVal)
        {
            clearDataSource = true;
            lastKontaktId_@token = kontaktyVal;
            lastSprawaId_@token = sprawyVal;
        }
        kontaktyVal = kontaktyVal == 0 ? "" : kontaktyVal;
        sprawyVal = sprawyVal == 0 ? "" : sprawyVal;
        return {
            "Kontakt.Id": kontaktyVal,
            "Sprawa.Id": sprawyVal,
            "ClearDataSource": clearDataSource
        };
    }

    function kosztyFiltersGetKontaktId() {
        var firma = $("#@Html.IdFor(model => model.FilterViewModel.Kontakty)");
        return firma.val();
    }

    function kosztyFiltersGetSprawaId() {
        var sprawa = $("#@Html.IdFor(model => model.FilterViewModel.Sprawy)");
        return sprawa.val();
    }

    CascadeKontaktSprawaDropDowns.init(
        "@Html.IdFor(model => model.FilterViewModel.Kontakty)",
        "@Html.IdFor(model => model.FilterViewModel.Sprawy)",
        "@Url.Action("GetKontakt", "Czynnosc")",
        "@Url.Action("GetSprawy", "Czynnosc")");
</script>