﻿@model Kancelaria365.Web.SprawaListViewModel

<div class="search-buttons-panel">
    <div class="form-group">
        <div class="col-md-5">
        </div>
        <div class="col-md-1">
            @Html.LabelFor(model => model.FilterViewModel.Stany,
                htmlAttributes: new { @class = "control-label col-md-12" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.FilterViewModel.Stany,
                new SelectList(Model.FilterViewModel.Stany),
                htmlAttributes: new { @class = "form-control col-md-12 input-sm" })
        </div>
        <div class="col-md-1">
            @Html.LabelFor(model => model.FilterViewModel.Kategorie,
                htmlAttributes: new { @class = "control-label col-md-12" })
        </div>
        <div class="col-md-2">
            @Html.DropDownListFor(m => m.FilterViewModel.Kategorie,
                new SelectList(Model.FilterViewModel.Kategorie, "Id", "Value"),
                htmlAttributes: new { @class = "form-control col-md-12 input-sm" })
        </div>
        <div class="col-md-1">
            <button id="btnSimpleSearch" type="button" class="btn btn-info">Szukaj</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function btnSimpleSearchGetSelectedValues() {
        var stanVal = $("#@Html.IdFor(model => model.FilterViewModel.Stany)").val();
        var kategoriaVal = $("#@Html.IdFor(model => model.FilterViewModel.Kategorie)").val();
        stanVal = stanVal == "--" ? "" : stanVal;
        kategoriaVal = kategoriaVal == 0 ? "" : kategoriaVal;
        return {
            "Stan": stanVal,
            "Kategoria": kategoriaVal
        };
    }
</script>