﻿@model Kancelaria365.Web.ZadanieListViewModel


<div class="add-new-buttons-panel">
    <div class="form-group">
        <div class="col-md-12">
            @Html.ActionLink("Nowe zadanie", "Create", new { controller = "Zadanie" }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<br />
@Html.Partial("CustomGrid", Model.ZadaniaGridViewModel)

<script type="text/javascript">
    @*$("#btnSearch").on("click", function () {
        reloadKontakty();
    });

    function simpleSearch() {
        kontakty_grid.reload({
            statusText: $("#@Html.IdFor(model => model.FilterViewModel.Statusy) option:selected").text(),
            kategoriaId: $("#@Html.IdFor(model => model.FilterViewModel.Kategorie)").val(),
        });
    }*@

    //function advancedSearch() {
    //    kontakty_grid.reload({
    //        statusText: "Kontakt",
    //        sprawy: true,
    //        konta: true,
    //        zadania: true,
    //        czynnosci: true,
    //        koszty: true,
    //        kontakty: true,
    //    });
    //}

</script>
