﻿@model Kancelaria365.Web.ZadanieListViewModel

@{
    string dateFormatString = GlobalNames.FormatStrings.DateFormatString;
}


<div class="search-buttons-panel">
    <div class="form-group">
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.FilterViewModel.PrzypisaneDoMnie,
                htmlAttributes: new { @class = "control-label col-md-12" })
        </div>
        <div class="col-md-1">
            @Html.CheckBoxFor(model => model.FilterViewModel.PrzypisaneDoMnie,
                htmlAttributes: new { @class = "bs-checkbox-input" })
        </div>
        <div class="col-md-1">
            @Html.LabelFor(model => model.FilterViewModel.ZDnia,
                htmlAttributes: new { @class = "control-label col-md-12" })
        </div>
        <div class="col-md-2">
            @Html.TextBoxFor(model => model.FilterViewModel.ZDnia, dateFormatString,
                htmlAttributes: new { @class = "form-control col-sm-12" })
        </div>
        <div class="col-md-1">
            <button id="btnSimpleSearch" type="button" class="btn btn-info">Szukaj</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    function btnSimpleSearchGetSelectedValues() {
        var przypisaneDoMnieVal = $("#@Html.IdFor(model => model.FilterViewModel.PrzypisaneDoMnie)").val();
        var zDniaVal = $("#@Html.IdFor(model => model.FilterViewModel.ZDnia)").val();
        return {
            "PrzypisaneDoMnie": przypisaneDoMnieVal,
            "ZDnia": zDniaVal
        };
    }

    DateTimeHelper.createDatePicker("@Html.IdFor(model => model.FilterViewModel.ZDnia)");
</script>